<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exmple.fb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Gtime"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="Gtime" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cse"
            android:label="@string/title_activity_cse" >
        </activity>
        
        <activity
            android:name=".ECE"
            android:label="@string/title_activity_cse" >
        </activity>
        
    </application>

</manifest>